.blogs {
  display: flex;
  flex-wrap: wrap;
  &__content {
    width: 65%;
    padding-right: 40px;
  }
  .blog__item {
    margin-bottom: 80px;
  }
  .section-subtitle {
    margin-top: 10px;
  }
  &__control {
    display: flex;
    justify-content: center;
  }
  &__control button {
    font-weight: 600;
    font-size: 14px;
    color: #707070;
  }
  &__control button:not(:last-child) {
    margin-right: 10px;
  }
}

.search {
  width: 35%;
  a {
    display: block;
  }
  &__input {
    width: 100%;
    padding: 10px 18px;
    border: 1px solid #494848;
    border-radius: 20px;
    margin-bottom: 30px;
    background: url('../../images/searchI.svg') no-repeat right 18px center;
  }
  &__row {
    margin-bottom: 35px;
  }
  .section-title {
    font-size: 16px;
    margin-bottom: 14px;
  }
  .section-subtitle:not(:last-child) {
    margin-bottom: 12px;
  }
  &__time {
    display: block;
    font-weight: 400;
    font-size: 14px;
    color: #a1a1a1;
    margin-bottom: 5px;
  }
  &__social {
    display: flex;
    align-items: center;
  }
  &__social-icon:not(:last-child) {
    margin-right: 15px;
  }
}
.tags {
  display: flex;
  flex-wrap: wrap;
  margin: -6px;
  &__btn {
    font-weight: 600;
    font-size: 14px;
    color: #8f8d8d;
    padding: 5px 20px;
    margin: 6px;
    border: 1px solid #8a8b8b;
    border-radius: 20px;
  }
}
