<footer class="footer">
  <section class="footer-top">
    <div class="container">
      <div class="footer__body">
        <div class="footer__column">
          <h3 class="footer__title">Contact Us</h3>
          <p class="section-subtitle">
            Keffiyeh poutine etsy, paleo cray put a bird on it microdosing
            schlitz you probably occupy
          </p>
          <a class="footer__social" href="#">
            <img src="images/message.jpg" alt="message" />
            <span class="footer__link">ouremailaddress@email.com</span>
          </a>
          <form class="footer__form">
            <input
              class="footer__input"
              type="text"
              placeholder="Subscribe by email"
            />
            <button class="footer__btn" type="submit">Send</button>
          </form>
        </div>
        <div class="footer__column">
          <a class="footer__social" href="#">
            <img src="images/facebook.png" alt="facebook" />
            <span class="footer__link">Facebook</span>
          </a>
          <a class="footer__social" href="#">
            <img src="images/instagram.png" alt="instagram" />
            <span class="footer__link">Instagram</span>
          </a>
          <a class="footer__social" href="#">
            <img src="images/pinterest.png" alt="pinterest" />
            <span class="footer__link">Pinterest</span>
          </a>
          <a class="footer__social" href="#">
            <img src="images/whatsapp.png" alt="whatsapp" />
            <span class="footer__link">WhatsApp</span>
          </a>
          <a class="footer__social" href="#">
            <img src="images/youtube.png" alt="youtube" />
            <span class="footer__link">Youtube</span>
          </a>
        </div>
        <div class="footer__column">
          <a class="footer__link" href="#">Delivery</a>
          <a class="footer__link" href="#">FAQ</a>
          <a class="footer__link" href="#">Help</a>
          <a class="footer__link" href="#">More About Us</a>
        </div>
      </div>
    </div>
  </section>
  <section class="footer-bottom">
    <span class="footer__adress">674 Gonzales Drive. Washington, PA 15301</span>
  </section>
</footer>
